USE [C:\ADRIANO\FUNCAO SISTEMAS\FI.WEBATIVIDADEENTREVISTA\FI.WEBATIVIDADEENTREVISTA\APP_DATA\BANCODEDADOS.MDF]
GO
/****** Object:  StoredProcedure [dbo].[FI_SP_Inc_BeneficiarioV2]    Script Date: 10/07/2020 20:27:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[FI_SP_Inc_BeneficiarioV2]
    @NOME			VARCHAR (50) ,
	@CPF			VARCHAR (11),
	@IDCLIENTE				INT
AS
BEGIN
	INSERT INTO  BENEFICIARIOS (NOME, CPF, IDCLIENTE) 
	VALUES (@NOME, @CPF,@IDCLIENTE )

	SELECT SCOPE_IDENTITY()
END