
<form id="formBeneficiario" method="post">
    <div class="row">
        <div class="col-md-12">
            <div class="form-group">
                <label for="Beneficiario">Beneficiários</label>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-5">
            <div class="form-group">
                <label for="cpf">CPF:</label>
                <input required="required" type="text" class="form-control" id="CPF" name="CPF" placeholder="Ex.: 010.011.111-00" maxlength="12">
            </div>
        </div>
        <div class="col-md-5">
            <div class="form-group">
                <label for="Nome">Nome:</label>
                <input required="required" type="text" class="form-control" id="Nome" name="Nome" placeholder="Ex.: João" maxlength="50">
            </div>
        </div>

        <div class="col-md-2">

                <button type="button" id="btn-incluir" name="-btn-incluir" class="btn btn-sm btn-primary" style = "margin-top: 17%">Incluir</button>  
           
        </div>

        @*<div class="col-md-2">
            <div class="form-group">
                <button type="button" id="btn-incluir" name="-btn-incluir" class="btn btn-sm btn-primary">Incluir</button>
            </div>
        </div>*@
    </div>
</form>



